@media screen and (max-width: 1360px) {
  body.fix_menu .header__footer__left {
    padding-right: 0;
  }
  body.fix_menu .header__footer__left .header__footer__logo-fix {
    padding-right: 15px;
    min-width: 155px;
  }
  .header__catalog-btn {
    min-width: 175px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 1200px) {
  .header__top__menu > li:not(:last-child) {
    padding-right: 15px;
  }
  .header__logo__slogan {
    display: none;
  }
  .header__middle__right__col1 {
    min-width: 190px;
    width: 190px;
    padding-left: 0;
  }
  body.fix_menu .header__footer__right .header__footer__phones-fix {
    .header__middle__col {
      display: none;
    }
  }

}

@media screen and (max-width: 991px) {
  .mob-menu-modal {
    &__header {
      border-bottom: 1px solid #dce3e7;
      &__wrap {
        padding: 10px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
    &__submenu {
      flex-direction: column;
      li {
        padding: 5px 0 0;
        a {
          color: #404042;
          font-size: 14px;
          line-height: 20px;
          text-decoration: none;
        }
      }
    }
  }
  .mob-menu-modal__nav {
    display: block !important;
    &__item {
      border-bottom: 1px solid #dce3e7;
      padding: 20px 0;
      & > a {
        display: flex;
        align-items: center;
        color: #404042;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 20px;
        font-weight: bold;
        text-decoration: none;
      }
    }
  }
  .header__top {
    display: none;
  }
  .header__middle {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dce3e7;
    position: fixed;
    z-index: 50;
    background: #fff;
    left: 0;
    right: 0;
    top: 0;

    .header__logo {
      img {
        width: 100px;
        height: 26px;
      }
    }
  }
  .main {
    padding-top: 65px;
  }
  .header__footer {
    height: auto;
  }
  .header {
    padding-bottom: 0;
  }
  .header__middle__col-mob-r {
    display: block;
    padding-left: 0;

    li:not(:last-child) {
      padding-right: 20px;
    }

    a {
      color: #484848;
      text-decoration: none;
    }
  }
  .header__middle__col-hidden {
    display: none;
  }
  .header__footer__col-2 {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);

    .header__footer__right {
      width: 100%;
      max-width: 720px;
      margin: 0 auto;
      padding-right: calc(var(--bs-gutter-x) * 0.5);
      padding-left: calc(var(--bs-gutter-x) * 0.5);

      .header__icons__item {
        padding-top: 13px;
        height: 64px;

        .header__icons__item__count {
          top: 10px;
        }
      }
    }
  }
  .cookie {
    bottom: 74px;
  }
  .header__footer__left {
    display: none;
  }
  .header__middle__col-logo {
    flex-grow: 0;
    min-width: 130px;
  }
  .home-sliders__left {
    margin-bottom: 10px;

    .home-slide__img img {
      border-radius: 70px;
    }
  }
  .home-sliders__right {
    .home-slide__img img {
      border-radius: 70px;
    }
  }
  .box__consultation {
    padding: 25px 20px;
    &__desc {
      padding-bottom: 15px;
    }
  }
  .y-market {
    margin-left: 0;
    margin-top: 15px;
  }
}

@media screen and (max-width: 768px) {
  .home-sliders__pagination .swiper-pagination-bullet {
    opacity: 1;
    background: #eef2f4;
  }
  .price__info {
    position: relative;
    top: auto;
    left: auto;
    margin-left: 0;
    margin-right: 5px;
  }
  .home-sliders {
    padding-bottom: 30px;
  }
  .box__title {
    font-size: 26px;
  }
  .btn-link {
    font-size: 14px;
  }
  .box__slider {
    & .box__slider__scrollbar {
      display: block;
      width: 100%;
      height: 3px;
      border-radius: 2px;
      background: #dce3e7;
      position: relative;
      overflow: hidden;
      margin-top: 25px;
      .swiper-scrollbar-drag {
        --swiper-scrollbar-drag-bg-color: #404042;
        border-radius: 2px;
      }
    }
    .swiper {
      overflow: visible;
    }
    &__nav {
      display: none !important;
    }
    .swiper-slide {
      width: 221px !important;
      .product-box__params {
        display: none;
      }
    }
    .product-box__footer  {
      flex-wrap: wrap;
      .product-box__col-price {
        padding-bottom: 15px;
        width: 100%;
        padding-right: 0;
        flex-direction: row;
        align-items: center;
        .price__old > span {
          white-space: nowrap;
          font-size: 14px;

        }
        .price__old {
          margin-right: 10px;
          display: inline-flex;
          align-items: center;
        }
        .price__val span {
          white-space: nowrap;
          font-size: 16px;
        }
      }
    }
  }
  .price__info__desc {
    left: 0;
    margin-left: 0;
  }

  .product-box__col-btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .product-box__btns {
      position: relative;
      top: auto;
      right: 0;
      display: flex;
      align-items: center;
      flex-direction: row !important;
      li {
        padding-bottom: 0;
        padding-right: 10px;
        .btn.btn--mini {
          width: 36px;
          min-width: 36px;
          height: 36px;
        }
      }

    }
    .product-box__bay {
      height: 36px !important;
      padding-top: 5px !important;
      padding-bottom: 5px !important;
      flex-grow: 1;
    }
  }
  .fpad70 {
    padding-bottom: 35px;
  }
  .box__services-list {
    padding-bottom: 25px;
    li {
      padding-bottom: 15px;
      &:first-child .box__services-list__item {
        border-radius: 20px 0 0 0;
      }
      &:last-child .box__services-list__item {
        border-radius: 0 0 20px 0;
      }
    }
    &__item {
      min-height: 110px;
      padding: 30px 35px 25px 0;
      &__wrap {
        flex-direction: row;
      }
      &__ico {
        width: 80px;
        min-width: 80px;
        padding-right: 15px;
        flex-grow: 0;
        display: flex;
        justify-content: center;
        img {
          width: 45px;
          height: 45px;
          object-fit: contain;
        }
      }
      &__desc {
        flex-grow: 1;
        margin-top: -5px;
        h3 {
          font-size: 18px;
          line-height: 24px;
        }
        p {
          font-size: 14px;
          br {
            display: none;
          }
        }
      }
    }
  }
  .news-item__desc {
    padding: 0 10px;
  }
  .news-item__title {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
  }
  .news-item__date {
    font-size: 12px;
    padding-bottom: 12px;
  }
  .news-item__footer {
    padding-top: 10px;
  }
  .tpad30 {
    padding-top: 15px;
  }
  .review__row {
    .swiper-slide {
      width: 221px;
    }
    .swiper {
      overflow: visible;
    }
    .box__slider__scrollbar {
      display: block !important;
    }
    .review__block {
      padding: 20px 15px 15px;
    }
    .swiper-slide p,
    .review__name {
      font-size: 14px;
      line-height: 20px;
    }
    .review__date {
      font-size: 12px;
    }
  }
  .text h1, .text h2 {
    font-size: 20px;
  }
  .text {
    font-size: 14px;
    p {
      font-size: 14px;
    }
  }
  .footer__top-btn {
    display: none;
  }
  .seo-text__footer {
    margin-top: 5px;
  }
}

@media screen and (max-width: 574px) {
  .home-sliders__left .home-slide__img img,
  .home-sliders__right .home-slide__img img {
    height: auto;
    border-radius: 20px;
  }
  .home-sliders__left__item .home-slide__desc {
    max-width: 100%;
    padding: 25px 20px;
  }
  .home-sliders__left,
  .home-sliders__right {
    border-radius: 0;
  }
  .home-sliders__right .home-slide__desc {
    padding: 60px 20px;
  }
  .home-sliders__right__item__label {
    top: 20px;
    left: 20px;
  }
  .categories__item {
    padding-left: 20px;
  }
  .fpad30 {
    padding-bottom: 15px;
  }
  .categories {
    padding-bottom: 20px;
  }
  .prim-box__ico {
    min-width: 64px;
    justify-content: flex-start;
  }
  .hr-line {
    height: 35px;
    margin-bottom: 35px;
  }
}

@media screen and (max-width: 440px) {
  .header__middle__col-mob-r li:not(:last-child) {
    padding-right: 15px;
  }
  .box__consultation__form__inp {
    padding: 10px 20px;
    height: 48px;
  }
  .box__consultation__form__submit {
    position: relative;
    top: auto;
    right: auto;
    width: 100%;
    margin-top: 10px;
  }
  .box__consultation__desc h2 {
    font-size: 20px;
  }
  .box__consultation__desc p {
    font-size: 14px;
    line-height: 18px;
    br {
      display: none;
    }
  }
  .box__consultation__form__ps {
    font-size: 12px;
  }
}
