@media screen and (max-width: 1400px) {
  body.fix_menu .header__footer__right .header__footer__phones-fix .header__middle__col {
    display: none;
  }
}

@media screen and (max-width: 1360px) {
  body.fix_menu .header__footer__left {
    padding-right: 0;
  }
  body.fix_menu .header__footer__left .header__footer__logo-fix {
    padding-right: 15px;
    min-width: 155px;
  }
  .header__catalog-btn {
    min-width: 175px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 1200px) {
  .header__top__menu > li:not(:last-child) {
    padding-right: 15px;
  }
  .header__logo__slogan {
    display: none;
  }
  .header__middle__right__col1 {
    min-width: 190px;
    width: 190px;
    padding-left: 0;
  }
  body.fix_menu .header__footer__right .header__footer__phones-fix {
    .header__middle__col {
      display: none;
    }
  }
  .cat__filter__range__inp {
    font-size: 12px;
  }

}

@media screen and (max-width: 991px) {
  .nav--sb.show-link {
    .sb-link-hidden {
      display: block;
    }
  }
  .cat__top {
    display: flex;
    flex-direction: column;

    .active-filter {
      order: -1;
    }
  }
  #sliderActiveFilter,
  #sliderPopularCat {
    overflow: visible;
  }
  .cat__filter-col {
    margin-bottom: 0;
    padding-bottom: 65px;
  }
  .cat__filter__footer {
    padding: 12px 0;
    background: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.5);

    &__wrap {
      display: flex;
      width: 100%;
      flex-direction: row-reverse;
      justify-content: space-between;

      .btn {
        height: 36px;
        width: calc(50% - 10px);

        &.cat__filter__reset {
          border: 1px solid #404042;
          color: #404042;
          font-weight: bold;
          text-transform: uppercase;

          svg {
            display: none;
          }

          .cat__filter__reset__only-pc {
            display: none;
          }
        }
      }
    }
  }
  .offcanvas-body {
    padding: 0;
  }
  .cat__filter__item__title {
    font-size: 14px;

  }
  .mob-menu-modal__header__title {
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    color: #404042;
  }
  .offcanvas-backdrop {
    background: #fff;
    border-right: none;
  }
  .offcanvas {
    border-right: none !important;
    --bs-offcanvas-padding-x: 0;
    --bs-offcanvas-padding-y: 0;
  }
  .mob-menu-modal {
    &__header {
      border-bottom: 1px solid #dce3e7;

      &__wrap {
        padding: 10px 0;
        min-height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    &__submenu {
      flex-direction: column;

      li {
        padding: 5px 0 0;

        a {
          color: #404042;
          font-size: 14px;
          line-height: 20px;
          text-decoration: none;
        }
      }
    }

    &__contacts {
      padding-top: 20px;
      padding-bottom: 10px;

      &__title {
        font-size: 14px;
        line-height: 20px;
        font-weight: bold;
        text-transform: uppercase;
        color: #404042;
        padding-bottom: 12px;
      }

      &__info {
        position: relative;
        padding-left: 30px;

        &__ico {
          position: absolute;
          z-index: 1;
          top: 5px;
          left: 0;
        }

        .header__middle__row {
          margin-bottom: 15px;

          .header__phone {
            font-size: 14px;
            min-width: 120px;
          }

          .header__phone-city {
            font-size: 14px;
          }

          .btn-link2 {
            font-size: 14px;
            line-height: 1.2;
            color: #24a44a;
            text-decoration: none;
          }

          .email {
            font-size: 14px;
            line-height: 1.2;
            color: #24a44a;
            text-decoration: underline;
          }

          .soc-link {
            font-size: 14px;
            line-height: 1.2;
            color: #404042;
            text-decoration: none;
          }

          span {
            font-size: 14px;
            line-height: 1.5;
            color: #404042;
          }
        }
      }
    }
  }
  .mob-menu-modal__nav {
    display: block !important;

    &__item {
      border-bottom: 1px solid #dce3e7;
      padding: 10px 0;

      & > a {
        display: flex;
        align-items: center;
        color: #404042;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 20px;
        font-weight: bold;
        text-decoration: none;
        padding-top: 10px;
        padding-bottom: 10px;

        .catalog-menu__nav__item__ico {
          width: 32px;
          min-width: 32px;
          justify-content: flex-start;
        }
      }
    }

    .offcanvas {
      --bs-offcanvas-width: 100vw;
    }
  }
  .header__top {
    display: none;
  }
  .header__middle {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dce3e7;
    position: fixed;
    z-index: 50;
    background: #fff;
    left: 0;
    right: 0;
    top: 0;

    .header__logo {
      img {
        width: 100px;
        height: 26px;
      }
    }
  }
  .main {
    padding-top: 65px;
  }
  .header__footer {
    height: auto;
  }
  .header {
    padding-bottom: 0;
  }
  .header__middle__col-mob-r {
    display: block;
    padding-left: 0;

    li:not(:last-child) {
      padding-right: 20px;
    }

    a {
      color: #484848;
      text-decoration: none;
    }
  }
  .header__middle__col-hidden {
    display: none;
  }
  .header__footer__col-2 {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);

    .header__footer__right {
      width: 100%;
      max-width: 720px;
      margin: 0 auto;
      padding-right: calc(var(--bs-gutter-x) * 0.5);
      padding-left: calc(var(--bs-gutter-x) * 0.5);

      .header__icons__item {
        padding-top: 13px;
        height: 64px;

        .header__icons__item__count {
          top: 10px;
        }
      }
    }
  }
  .cookie {
    bottom: 74px;
  }
  .header__footer__left {
    .header__footer__logo-fix,
    & .header__catalog-btn {
      display: none;
    }

  }
  .header__middle__col-logo {
    flex-grow: 0;
    min-width: 130px;
  }
  .home-sliders__left {
    margin-bottom: 10px;

    .home-slide__img img {
      border-radius: 70px;
    }
  }
  .home-sliders__right {
    .home-slide__img img {
      border-radius: 70px;
    }
  }
  .box__consultation {
    padding: 25px 20px;

    &__desc {
      padding-bottom: 15px;
    }
  }
  .y-market {
    margin-left: 0;
    margin-top: 15px;
  }
  .header__icons__mob-hidden {
    display: none;
  }
  body .header__search {
    height: auto;
    margin: 0;
    padding: 0;

    .offcanvas-lg {
      --bs-offcanvas-height: 100vh;
      border-bottom: none !important;
    }

    .offcanvas-header {
      padding: 0;
    }

    .offcanvas-body {
      padding: 30px 0;

      .header__form {
        margin: -5px 0 0 0;
        padding: 0;
      }
    }
  }
  body.search_active .header__form {
    box-shadow: none;
  }
  body.search_active .header__search__wrap .header__search__inp {
    background: #eef2f4;
  }
  .search-res {
    padding: 20px 0 0;
  }
  .mob-menu-brand {
    &__item {
      padding: 10px 0;

      &:not(:last-child) {
        border-bottom: 1px solid #dce3e7;
      }

      &__header {
        padding: 10px 0;
        color: #828b90;
        font-size: 15px;
        font-weight: bold;
        line-height: 18px;
      }

      &__list {
        padding-bottom: 10px;

        li {
          padding-bottom: 10px;
          padding-top: 0 !important;

          a {
            color: #404042;
            font-size: 15px;
            line-height: 18px;
            text-decoration: none;
          }
        }
      }
    }
  }
  .mob-menu-modal__nav__item:last-child {
    border-bottom: none;
  }
  .mob-menu-modal__contacts {
    border-top: 1px solid #dce3e7;
  }
  .mob-menu-modal__submenu {
    padding-bottom: 10px;
  }
  .breadcrumbs {
    padding-bottom: 15px;
  }
  .title-page {
    font-size: 24px;
    margin-bottom: 16px;
  }
  .sb-link-hidden {
    display: none;
  }
  .nav--sb {
    border-bottom: none;
    padding-bottom: 0;

    li:not(:first-child) {
      border-top: 1px solid #dce3e7;
    }

    li {
      padding: 10px 0;

      a {
        display: flex;

        .count {
          margin-left: auto;
        }
      }
    }
  }
  .sb-link-more {
    display: block;
    padding-top: 10px;

    &__btn {
      color: #22a34a;
      font-size: 14px;
      line-height: 1.3;
      text-decoration: none;
    }
  }
  .cat__filter__mob {
    display: block;
    padding: 25px 0 12px;

    &__btn {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 5px 15px;
      background: transparent;
      height: 48px;
      border-radius: 10px;
      border: 2px solid #eef2f4;

      &__caption {
        font-size: 14px;
        color: #404042;
      }
    }
  }
  .offcanvas-lg.offcanvas-start {
    width: 100vw;
    border-right: none;

    .offcanvas-header {
      padding: 0;
    }
  }
  .cat__list-top {
    display: block !important;
    padding-bottom: 25px;

    &__view {
      display: none;
    }

    &__count {
      width: 100%;
      padding-bottom: 15px;
      padding-top: 10px;
    }

    &__sort {
      width: 100%;
    }
  }
  .fpad30 {
    padding-bottom: 15px;
  }
  .box__consultation.box__consultation--mini {
    padding: 20px;
  }

  .cat__loop__item {
    padding-bottom: 30px;

    .product-box {

      &:not(.product-box--fav) {
        display: flex;
        flex-direction: row;
      }

      &__img {
        min-width: 200px;
      }

      &__body {
        flex-grow: 1;
      }

      &__tips {
        position: relative;
        top: auto;
        left: auto;
        flex-direction: row !important;
        padding-bottom: 10px;

        li {
          margin: 0 10px 0 0;
        }
      }

      &__btns {
        position: relative;
        right: auto;
        top: auto;
        flex-wrap: nowrap;
        flex-direction: row !important;

        li {
          padding-right: 10px;
          padding-bottom: 0;

          .btn.btn--mini {
            height: 36px;
            min-width: 36px;
            width: 36px;
          }
        }
      }

      &__col-btn {
        display: flex;
        align-items: center;

        .product-box__bay {
          flex-grow: 1;
          height: 36px !important;
          padding-bottom: 5px !important;
          padding-top: 5px !important;
          font-size: 12px;

          &.btn--silver {
            font-size: 11px;
          }
        }
      }

      .product-box__params:not(.product-box__params--art) {
        display: none;
      }

      .product-box__footer {
        display: block !important;
      }

      .product-box__col-price {
        display: flex;
        align-items: center;
        padding: 0 0 15px;
        flex-direction: row;

        .price__old {
          margin: 0 8px 0 0;
          display: flex;
          align-items: center;

          span {
            white-space: nowrap;
          }
        }

        .price__info {
          position: relative;
          left: auto;
          margin: 0 5px 0 0;
          top: auto;
        }
      }
    }
  }
  .footer {
    padding-top: 30px;
    padding-bottom: 100px;
  }
  .footer__bottom {
    padding-top: 30px;
    text-align: center;

    &__logo {
      display: none;
    }

    &__info {
      max-width: 100%;
    }

    &__col2 {
      order: -1;
    }

    &__nav {
      li {
        width: 100%;
        padding-bottom: 15px;
      }
    }

    &__copy {
      padding-bottom: 20px;
    }
  }
  .footer__web__caption {
    display: none;
  }
  .footer__nav {
    border-bottom: 1px solid #6c7a89;

    &__caption {
      padding: 10px 0;
      position: relative;
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__mob-ico {
        display: block;
        transition: all 0.2s ease-in-out;
        color: #fff;
      }

      &:not(.collapsed) {
        .footer__nav__caption__mob-ico {
          transform: rotate(-180deg);
        }
      }
    }

    .nav {
      padding-bottom: 15px;
      margin-top: -5px;

      a {
        font-size: 14px;
      }
    }
  }
  .footer__top-btn {
    top: -60px;
  }
  .fpad40 {
    padding-bottom: 20px;
  }
  .footer__mob-logo {
    display: block;
    width: 142px;
    margin: 0 auto 30px;
  }
  .footer__phones__item {
    justify-content: center;

    &__value {
      min-width: auto;
    }

    &__phone-city {
      display: none;
    }
  }
  .footer__soc {
    padding-top: 5px;
    padding-left: 12px;
    justify-content: center;
  }
  .mob-fpad0 {
    padding-bottom: 0;
  }
  .footer__phones {
    padding-bottom: 0;
  }
  .footer__address,
  .footer__work-time,
  .footer__work-time {
    text-align: center;
  }
  .footer__soc-big {
    justify-content: center;
    padding-left: 20px;
  }
  .footer__y-market {
    display: block;
    width: 99px;
    margin: 0 auto;
  }
  .pagination {
    padding-bottom: 40px;
  }
  .cat__loop {
    padding-bottom: 10px;
  }
  .header__search__bg {
    display: none !important;
  }
  .brands__top {
    border-bottom: none;
    display: block;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .brands__sort {
    display: block;
    padding-bottom: 15px;

    &__all {
      padding-bottom: 10px;
    }

    &__nav {
      border-bottom: 1px solid #dce3e7;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }
  }
  .brands__list__header {
    text-align: left;
  }
  .brands__list__item__letter {
    height: 48px;
    justify-content: flex-start;
  }
  .brands__list__item__nav li {
    width: 33.333%;
  }
  .brand-nav__header {
    display: none;
  }
  .brand-logo {
    padding-bottom: 15px;
  }

  .product-box.product-box--fav {
    .product-box__btns {
      position: static !important;
      padding-top: 10px;

      .product-box__col-remove {
        padding: 0;
        position: absolute;
        z-index: 10;
        top: 10px;
        right: 5px;
      }

      .product-box__col-compare {
        padding-right: 0;
        width: 100%;
      }
    }
  }
  .btn--mob {
    width: 100% !important;
    min-width: 100% !important;
    justify-content: center;
    text-transform: none;
    font-size: 12px;
    font-weight: 400;

    span {
      display: block;
      padding-left: 10px;
    }
  }
  .fav-filter {
    flex-direction: column-reverse;
    padding-bottom: 0;
    border-bottom: none;

    .fav-filter__remove {
      margin: 0 0 25px 0;
      padding: 5px 15px;
      height: 48px;
      width: 100%;
      border: 2px solid #eef2f4;
      border-radius: 5px;
    }
  }
  .cat__list-top__sort.mr-50 {
    margin-right: 0;
  }
  .fav-filter__col {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-bottom: 10px;
    text-align: left;
    width: 100%;

    .fav-filter__label {
      width: 100%;
      display: block;
      margin-right: 0;
      padding-bottom: 5px;
    }
  }
  .fav-filter .dropdown {
    min-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .brands__list__item__nav {
    margin: 0 -8px;

    li {
      width: 50%;
      padding: 0 8px 16px;
    }
  }
  .nav--sb li {
    padding: 5px 0;
  }
  .nav--sb li a {
    font-size: 14px;
  }
  .brands__single__title {
    font-size: 14px;
  }
  .brands__list__header {
    padding-bottom: 15px;
  }
  .brands__list__item__letter {
    padding-top: 20px;
  }
  .more-link {
    &__btn {
      height: 36px;
      padding-top: 0;
      padding-bottom: 0;
      font-size: 12px;
    }
  }
  .box__consultation__desc h2 span {
    display: block;
  }
  .cookie__wrap {
    padding: 15px 15px 15px 75px;
    display: block;

    .btn {
      padding: 5px 15px;
      height: auto;
    }
  }
  .cookie__ico {
    position: absolute;
    top: 15px;
    left: 15px;
  }
  .cookie__desc {
    padding: 0 0 10px 0;
  }
  .home-sliders__left__item .home-slide__title {
    font-size: 24px;
  }
  .home-slide {
    p {
      font-size: 14px;
    }

    .btn {
      height: 36px;
      padding: 5px 15px;
      font-size: 14px;
    }
  }
  .home-sliders__pagination {
    bottom: 20px !important;
  }
  .header__icons__item__caption {
    font-size: 11px;
  }
  .search-res__item a {
    .search-res__item__ico {
      margin-bottom: auto;
    }

    .d-flex {
      display: block !important;
    }

    .search-res__item__title {
      padding-right: 0;
    }

    .search-res__item__price {
      padding-left: 20px;
      padding-top: 5px;
    }
  }
  .header__icons {
    margin: 0 -5px;
  }
  .header__icons li {
    padding: 0 1px;
  }
  .home-sliders__pagination .swiper-pagination-bullet {
    opacity: 1;
    background: #eef2f4;
  }
  .price__info {
    position: relative;
    top: auto;
    left: auto;
    margin-left: 0;
    margin-right: 5px;
  }
  .home-sliders {
    padding-bottom: 30px;
  }
  .box__title {
    font-size: 26px;
  }
  .btn-link {
    font-size: 14px;
  }
  .box__slider {
    & .box__slider__scrollbar {
      display: block;
      width: 100%;
      height: 3px;
      border-radius: 2px;
      background: #dce3e7;
      position: relative;
      overflow: hidden;
      margin-top: 25px;

      .swiper-scrollbar-drag {
        --swiper-scrollbar-drag-bg-color: #404042;
        border-radius: 2px;
      }
    }

    .swiper {
      overflow: visible;
    }

    &__nav {
      display: none !important;
    }

    &:not(.box__slider--hover-nav) {
      .swiper-slide {
        width: 221px !important;

        .product-box__params:not(.product-box__params--art) {
          display: none;
        }

        .product-box__img {
          height: 180px;
        }
      }
    }


    .product-box__footer {
      flex-wrap: wrap;

      .product-box__col-price {
        padding-bottom: 15px;
        width: 100%;
        padding-right: 0;
        flex-direction: row;
        align-items: center;

        .price__old > span {
          white-space: nowrap;
          font-size: 14px;

        }

        .price__old {
          margin-right: 10px;
          display: inline-flex;
          align-items: center;
        }

        .price__val span {
          white-space: nowrap;
          font-size: 16px;
        }
      }
    }
  }
  .price__info__desc {
    left: 0;
    margin-left: 0;
  }

  .product-box__col-btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .product-box__btns {
      position: relative;
      top: auto;
      right: 0;
      display: flex;
      align-items: center;
      flex-direction: row !important;

      li {
        padding-bottom: 0;
        padding-right: 10px;

        .btn.btn--mini {
          width: 36px;
          min-width: 36px;
          height: 36px;
        }
      }

    }

    .product-box__bay {
      height: 36px !important;
      padding-top: 5px !important;
      padding-bottom: 5px !important;
      flex-grow: 1;
    }
  }
  .fpad70 {
    padding-bottom: 35px;
  }
  .box__services-list {
    padding-bottom: 25px;

    li {
      padding-bottom: 15px;

      &:first-child .box__services-list__item {
        border-radius: 20px 0 0 0;
      }

      &:last-child .box__services-list__item {
        border-radius: 0 0 20px 0;
      }
    }

    &__item {
      min-height: 110px;
      padding: 30px 35px 25px 0;

      &__wrap {
        flex-direction: row;
      }

      &__ico {
        width: 80px;
        min-width: 80px;
        padding-right: 15px;
        flex-grow: 0;
        display: flex;
        justify-content: center;

        img {
          width: 45px;
          height: 45px;
          object-fit: contain;
        }
      }

      &__desc {
        flex-grow: 1;
        margin-top: -5px;

        h3 {
          font-size: 18px;
          line-height: 24px;
        }

        p {
          font-size: 14px;

          br {
            display: none;
          }
        }
      }
    }
  }
  .news-item__desc {
    padding: 0 10px;
  }
  .news-item__title {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
  }
  .news-item__date {
    font-size: 12px;
    padding-bottom: 12px;
  }
  .news-item__footer {
    padding-top: 10px;
  }
  .tpad30 {
    padding-top: 15px;
  }
  .review__row {
    .swiper-slide {
      width: 221px;
    }

    .swiper {
      overflow: visible;
    }

    .box__slider__scrollbar {
      display: block !important;
    }

    .review__block {
      padding: 20px 15px 15px;
    }

    .swiper-slide p,
    .review__name {
      font-size: 14px;
      line-height: 20px;
    }

    .review__date {
      font-size: 12px;
    }
  }
  .text h1, .text h2 {
    font-size: 20px;
  }
  .text h2 {
    margin-bottom: 20px;
  }
  .text {
    font-size: 14px;

    p {
      font-size: 14px;
    }
  }
  .footer__top-btn {
    display: none;
  }
  .seo-text__footer {
    margin-top: 5px;
  }
  .cat__loop__item .product-box__img {
    min-width: 100px;
    width: 100px;
    padding-top: 0;
    padding-bottom: 0;
    height: 150px;
  }
  .cat__loop__item .product-box__body {
    padding-top: 0;
  }
  .box__header {
    padding-bottom: 20px;
  }
  .box__slider {
    .product-box__img {
      img {
        max-height: 150px;
      }
    }
  }
  .cat__dop-list {
    padding-bottom: 15px;
  }
  .product-box.product-box--fav {
    .product-box__col-price {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
    }

    .price__val {
      font-size: 16px;
    }

    .price__old span,
    & .product-box__title {
      font-size: 14px;
    }

    .product-box__body {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .fav-filter {
    margin-bottom: 10px;
  }
  .favourites-empty {
    padding-top: 20px;

    h1 {
      font-size: 24px;
      margin-bottom: 15px;
    }

    p {
      font-size: 14px;
      margin-bottom: 24px;
    }

    &__ico {
      margin-bottom: 20px;
    }
  }
  .footer-product {
    &__item {
      padding: 0 0 20px 100px;
      position: relative;
      min-height: 140px;
      flex-direction: column;
      &__img {
        width: 100px;
        min-width: 100px;
        height: 100px;
        position: absolute;
        z-index: 10;
        left: 0;
        top: 0;
      }
    }

    &__desc {
      padding: 0;
      .product-box__params {
        justify-content: space-between;
      }
    }

    &__right {
      min-width: 100%;
      width: 100%;
    }
  }
  .footer-product>li:not(:last-child) {
    margin-bottom: 20px;
  }

  .news-back {
    display: none;
  }
  .news-single {
    .title-page {
      font-size: 20px;
    }
  }
  .news-single__top {
    margin-top: -5px;
    margin-bottom: 20px;
  }
  .news-single__img {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 574px) {
  .row {
    margin-left: -8px;
    margin-right: -8px;

    & > * {
      padding-left: 8px;
      padding-right: 8px;
    }
  }
  .modal-header--send-ok {
    border-bottom: none !important;
    padding: 0 13px !important;
  }
  .modal-content__img {
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .modal-close-hidden-mob {
    display: none !important;
  }
  .modal-dialog {
    margin: 0;

    .modal-content {
      padding: 0;

      .modal-header {
        padding: 10px 13px;
        min-height: 50px;
        border-bottom: 1px solid #dce3e7;

        .modal-title {
          font-size: 18px;
        }

        .btn-close2 svg {
          width: 20px;
          height: 20px;
        }
      }

      .modal-body {
        padding: 15px 0;

      }
    }
  }

  .form-modal__text {
    font-size: 14px;
  }
  .modal-backdrop {
    --bs-backdrop-bg: #fff;
    --bs-backdrop-opacity: 1;
  }
  .home-sliders__left .home-slide__img img,
  .home-sliders__right .home-slide__img img {
    height: auto;
    border-radius: 20px;
  }
  .home-sliders__left__item .home-slide__desc {
    max-width: 100%;
    padding: 25px 20px;
  }
  .home-sliders__left,
  .home-sliders__right {
    border-radius: 0;
  }
  .home-sliders__right .home-slide__desc {
    padding: 60px 20px;
  }
  .home-sliders__right__item__label {
    top: 20px;
    left: 20px;
  }
  .categories__item {
    padding-left: 20px;
  }
  .fpad30 {
    padding-bottom: 15px;
  }
  .categories {
    padding-bottom: 20px;
  }
  .prim-box__ico {
    min-width: 64px;
    justify-content: flex-start;
  }
  .hr-line {
    height: 35px;
    margin-bottom: 35px;
  }
  .cat__loop__item .product-box__img {
    height: 120px;
    min-width: 90px;
    width: 9px;
  }
  .product-tips__item {
    font-size: 10px;
    height: 20px;
  }
  .product-box__title {
    font-size: 14px;
    font-weight: 400;
  }
  .status {
    font-size: 12px;
  }
  .price__val {
    font-size: 16px;
    white-space: nowrap;
  }
  .price__old span {
    font-size: 14px;
  }
  .mob-fpad30 {
    padding-bottom: 30px !important;
  }
  .cat__top {
    padding-bottom: 5px;
  }

  .modal-body form {
    padding: 0 15px;
  }
}

@media screen and (max-width: 440px) {
  .header__middle__col-mob-r li:not(:last-child) {
    padding-right: 15px;
  }
  .box__consultation__form__inp {
    padding: 10px 20px;
    height: 48px;
  }
  .box__consultation__form__submit {
    position: relative;
    top: auto;
    right: auto;
    width: 100%;
    margin-top: 10px;
  }
  .box__consultation__desc h2 {
    font-size: 20px;
  }
  .box__consultation__desc p {
    font-size: 14px;
    line-height: 18px;

    br {
      display: none;
    }
  }
  .box__consultation__form__ps {
    font-size: 12px;
  }
  .news__col {
    padding-bottom: 30px;
  }
  .news__cat li {
    padding-right: 0;
  }
  .news__cat {
    justify-content: space-between;
    white-space: nowrap;
  }
  .news__cat li a {
    padding: 0 8px 10px;
  }
  .news__cat__item:before {
    margin-right: 5px;
  }
  .footer-product__right__row {
    .product-box__col-price {
      width: 100%;
      padding-bottom: 15px;
      order: 1;
      padding-right: 0;
    }
    .footer-product__right__col-bay {
      order: 3;
      width: calc(100% - 92px);
      .btn {
        height: 36px;
      }
    }
    .footer-product__right__btns {
      padding-top: 0;
      width: 92px;
      order: 2;
      .btn.btn--label .btn__text {
        display: none;
      }
      .btn__ico {
        width: 36px;
        height: 36px;
      }
    }
  }

}
